@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Orelega+One&display=swap');

/* Style Sheet for Vaalikone App */
/* ----------------------------- */ 


/* Header style */ 

/* Body style */

h1 {
	font-family: 'Orelega One', cursive;
	font-size: 28px;
}

p {
	font-family: 'Open Sans', sans-serif;
}


/* Form style * / 



/* Footer style */ 

